{% extends '_base.html' %}

{% block title %}Detail View{% endblock %}

{% block content %}
  {# djlint:off H021 #}
  <div class="container-fluid bg-light" style="width: 50%;">
    {# djlint:on #}
    <div class="row justify-content-center">
      <div class="col-2 text-center border">
        Altitude x Geoaltitide
        <br>
        <b>{{ corr_altitude_geoaltitude }}</b>
      </div>
      <div class="col-2 text-center border">
        Velocity x Coordinates
        <br>
        <b>{{ corr_velocity_coordinates }}</b>
      </div>
      <div class="col-2 text-center border">
        Received time x RSRP
        <br>
        <b>{{ corr_time_received_rsrp }}</b>
      </div>
      <div class="col-2 text-center border">
        Received time x RSRQ
        <br>
        <b>{{ corr_time_received_rsrq }}</b>
      </div>
      <div class="col-2 text-center border">
        Received time x SNR
        <br>
        <b>{{ corr_time_received_snr }}</b>
      </div>
    </div>
    <div>
      <canvas id="line-chart"></canvas>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
  <script>
    new Chart(document.getElementById("line-chart"), {
      type: 'line',
      data: {
        labels: {{ chart_labels|safe }},
        datasets: [{
          data: {{ chart_time_delay|safe }},
          label: "time delay",
          borderColor: "#EC407A",
          fill: false
        }, {
          data: {{ chart_rsrp|safe}},
          label: "RSRP",
          borderColor: "#42A5F5",
          fill: false
        }, {
          data: {{chart_rsrq|safe }},
          label: "RSRQ",
          borderColor: "#66BB6A",
          fill: false
        }, {
          data: {{ chart_snr|safe }},
          label: "SNR",
          borderColor: "#FFC107",
          fill: false
        }]
      },
      options: {
        title: {
          display: true,
          text: 'Chart JS Multiple Lines Example'
        }
      }
    });
  </script>
{% endblock content %}
