{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %}List{% endblock %}

{% block content %}
  <!-- flash messages -->
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} row col-2 justify-content-center"
             role="alert">{{ message }}</div>
      {% endfor %}
    </ul>
  {% endif %}

  <!-- upload form -->
  <div class="container-fluid bg-light mb-3 col-6">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-success">Upload new flight</button>
    </form>
  </div>

  <!-- table -->
  <div class="container bg-light">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            {% for head in header %}<th>{{ head.verbose_name }}</th>{% endfor %}
            <th>full size map</th>
          </tr>
        </thead>
        <tbody>
          {% for row in object_list %}
            <tr>
              <td>
                <a href="{% url 'flight-detail' row.id %}">{{ row.id }}</a>
              </td>
              <td>{{ row.date|date:"M d, Y, H:i" }}</td>
              <td>{{ row.created_at|date:"M d, Y, H:i" }}</td>
              <td>{{ row.takeoff_altitude }} metres</td>
              <td>
                <a href="{% url 'flight-map' row.id %}">link</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
